@use '../../styles/scss/mixins' as m;

:host {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  align-items: center;
  justify-items: center;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--gray-50);

  contain: layout paint;
}

.main-page__title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 16vh;
}

.main-page__text {
  padding-inline: 2rem;
  font-size: var(--font-size-lg);
}

.main-page__hero-image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .chat-image {
    max-width: 50%;
    height: auto;
  }
}
