// Breakpoint values
$breakpoint-xs: 320px; // Small phones
$breakpoint-sm: 640px; // Large phones
$breakpoint-md: 768px; // Tablets
$breakpoint-lg: 1024px; // Small laptops
$breakpoint-xl: 1280px; // Desktops
$breakpoint-2xl: 1536px; // Large desktops
