@use '../../styles/scss/mixins' as m;

:host {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.person-icon {
  fill: var(--blue-600);
  height: auto;
  width: 20vw;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.user-form__input {
  display: flex;
  flex-direction: column;
  height: 6rem;

  input {
    min-height: 2.5rem;
    min-width: 15rem;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 0.5rem;
    padding: 0.5rem;

    font-size: var(--font-size-md);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--blue-500);
    }
  }
}

.hint {
  font-size: var(--font-size-sm);
  color: var(--gray-500);
}
